@media (max-width: 1085px) {
   .item-products__title,
   .item-most-popular-products__title {
      font-size: 20px;
   }
   .item-products__price,
   .item-most-popular-products__price {
      font-size: 20px;
      font-weight: 600;
   }
   .item-products__foto {
      margin-bottom: 5px;
   }
   .most-popular-products__items {
      flex-wrap: wrap;
   }
}

@media (max-width: 990px) {
   .products,
   .most-popular-products {
      padding: 50px 0;
   }
   .products__title,
   .most-popular-products__title {
      margin-bottom: 15px;
   }
   .products__text,
   .most-popular-products__text {
      margin-bottom: 25px;
   }
   .products__list {
      margin-bottom: 20px;
   }
   .products__items,
   .most-popular-products__items {
      max-width: 800px;
      margin: 0 auto;
      gap: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .item-products,
   .item-most-popular-products__title {
      flex: 0 1 40%;
      padding: 0;
   }
   .item-products__title,
   .item-most-popular-products__title {
      font-size: 24px;
   }
   .item-products__price,
   .item-most-popular-products__price {
      font-size: 24px;
   }
   .item-products__foto,
   .item-most-popular-products__foto {
      margin-bottom: 10px;
   }

   .item-most-popular-products {
      flex: 0 1 40%;
   }
   

   .ours-popular-products {
      padding: 50px 0;
   }
   .ours-popular-products__title {
      font-size: 53px;
      margin-bottom: 15px;
   }
   .ours-popular-products__text {
      margin-bottom: 30px;
   }
   .ours-popular-products__items {
      margin: 0 -16px;
   }
   .ours-popular-products__items {
      justify-content: center;
      row-gap: 40px;
   }
   .item-ours-popular-products {
      padding: 0 16px;
   }

   .most-popular-products__items {
      margin-bottom: 50px;
   }
}

@media (max-width: 849px) {
   .item-ours-popular-products {
      flex: 0 1 50%;
   }
}

@media (max-width: 685px) {
   .item-most-popular-products__title {
      font-size: 20px;
      line-height: 1.5;
   }
   .item-most-popular-products__price {
      font-size: 20px;
      line-height: 1.20;
      font-weight: 600;
   }
}

@media (max-width: 629px) {
   .item-products__title,
   .item-most-popular-products__title  {
      font-size: 20px;
      line-height: 1.5;
   }
   .item-products__price,
   .item-most-popular-products__price {
      font-size: 20px;
      line-height: 1.20;
      font-weight: 600;
   }
   .ours-popular-products__title {
      margin-bottom: 10px;
      font-size: 48px;
   }
   .ours-popular-products__text {
      margin-bottom: 10px;
   }
   .item-ours-popular-products__foto {
      margin-bottom: 5px;
   }
   .item-ours-popular-products__title {
      font-size: 21px;
      margin-bottom: 8px;
   }
   .ours-popular-products__items {
      row-gap: 25px;
   }
}


@media (max-width: 592px) {
   .item-most-popular-products__title {
      font-size: 18px;
      line-height: 1.5;
   }
   .item-most-popular-products__price {
      font-size: 18px;
      line-height: 1.20;
      font-weight: 600;
   }
}

@media (max-width: 549px) {
   .products,
   .most-popular-products {
      padding: 30px 0;
   }
   .products__title,
   .most-popular-products__title {
      margin-bottom: 10px;
      font-size: 40px;
   }
   .products__text {
      margin-bottom: 20px;
      font-size: 18px;
   }
   .most-popular-products__text {
      margin-bottom: 0;
      font-size: 22px;
   }
   .products__list {
      column-gap: 20px;
   }
   .products__items,
   .most-popular-products__items {
      row-gap: 25px;
      column-gap: 0px;
      max-width: 300px;
   }
   .item-products,
   .item-most-popular-products {
      flex: 0 1 100%;
      padding: 0;
   }
   .item-products__title,
   .item-most-popular-products__title {
      font-size: 24px;
      line-height: 1.5;
   }
   .item-products__price,
   .item-most-popular-products__price {
      font-size: 24px;
      line-height: 1.20;
      font-weight: 600;
   }

   .ours-popular-products {
      padding: 30px 0;
   }
   .ours-popular-products__title {
      margin-bottom: 10px;
      font-size: 40px;
      text-align: center;
   }
   .ours-popular-products__text {
      font-size: 18px;
      text-align: center;
   }
   .ours-popular-products__items {
      row-gap: 25px;
      margin: 0;
   }
   .item-ours-popular-products {
      flex: 0 0 100%;
      padding: 0;
   }
   .item-ours-popular-products__foto {
      margin-bottom: 5px;
   }
   .item-ours-popular-products__title {
      font-size: 24px;
      margin-bottom: 8px;
   }
   .most-popular-products__items {
      margin-bottom: 30px;
   }
}