/* Адаптив */
@import url("media.css");

/* Підключення шрифтів */
@import url("fonts.css");

/* Обнулення стилів */
@import url("reset.css");

/* Прибиття футера до низу */
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex: 1 1 auto;
}

/* Загальні стилі */
[class*="__container"] {
   max-width: 1203px;
   padding: 0 15px;
   margin: 0 auto;
}

/* header */
.header {
   background-color: #000;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.header__title {
   font-size: 50px;
   line-height: 1.2;
   font-weight: 700;
   color: #fff;
   font-family: "Inter", sans-serif;
}


/* products */
.products {
   background: #0E333D;
   padding: 94px 0;
   color: #FFF;
   text-align: center;
}
.products__title {
   font-family: "DM Serif Text", sans-serif;
   font-size: 48px;
   font-weight: 400;
   line-height: 1.27;
   margin-bottom: 23px;
}
.products__text {
   color: #EBEBEB;
   font-family: "Raleway", sans-serif;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.27;
   margin-bottom: 34px;
}
.products__list {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 41px;
   margin-bottom: 77px;
   flex-wrap: wrap;
}

.products__link-list {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.27;
   transition: all 0.2s;
}
.products__link-list:hover {
   color: #2b9ebb;
}
.products__item-list:first-child > .products__link-list {
   text-decoration-line: underline;
}
.products__item-list:first-child > .products__link-list:hover {
   color: #fff;
}

.products__items {
   display: flex;
   justify-content: space-between;
   text-align: left;
   flex-wrap: wrap;
   margin: -15px;
}
.item-products {
   flex: 0 1 25%;
   padding: 15px;
}
.item-products__foto {
   overflow: hidden;
   margin-bottom: 17px;
   border-radius: 5px;
   width: 100%;
}
.item-products__foto img {
   width: 100%;
   aspect-ratio: 271 / 270;
   transition: all 0.4s;
}
.item-products__foto img:hover {
   transform: scale(1.1);
}
.item-products__title {
   font-family: "Cormorant Infant", sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.40;
   transition: all 0.2s;
}
.item-products__title:hover {
   color: #2b9ebb;
}
.item-products__price {
   font-family: "Cormorant Infant", sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.40;
}


/* ours popular products */
.ours-popular-products {
   padding: 100px 0;
}
.ours-popular-products__title {
   color: #000;
   font-family: "DM Serif Text", sans-serif;
   font-size: 58px;
   margin-bottom: 27px;
}
.ours-popular-products__text {
   color: #606060;
   font-family: "Inter", sans-serif;
   font-size: 20px;
   line-height: 1.8;
   margin-bottom: 53px;
}
.ours-popular-products__items {
   display: flex;
   justify-content: space-between;
   margin: 0 -24px;
   flex-wrap: wrap;
}

.item-ours-popular-products {
   flex: 0 1 33.333%;
   padding: 0 24px;
}
.item-ours-popular-products__foto {
   margin-bottom: 16px;
   width: 100%;
   aspect-ratio: 357 / 240;
}
.item-ours-popular-products__title {
   color: #000;
   font-family: "DM Serif Text", sans-serif;
   font-size: 24px;
   line-height: 1.20;
   margin-bottom: 16px;
}
.item-ours-popular-products__text {
   color: #000;
   font-family: "Inter", sans-serif;
   line-height: 1.6;
   margin-bottom: 8px;
}
.item-ours-popular-products__read-more {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.item-ours-popular-products__link {
   color: #F55529;
   font-family: "Inter", sans-serif;
   font-weight: 800;
   line-height: 1.5;
   transition: all 0.2s;
}
.item-ours-popular-products__link:hover {
   color: #c54a28;
}


/* most popular products */
.most-popular-products {
   padding: 100px 0;
   text-align: center;
}
.most-popular-products__title {
   color: #291403;
   font-family: "DM Serif Text", sans-serif;
   font-size: 58px;
   margin-bottom: 27px;
}
.most-popular-products__text {
   color: #818181;
   font-family: "Cormorant Infant", sans-serif;
   font-size: 30px;
   font-weight: 700;
   line-height: 1.40;
   margin-bottom: 62px;
}
.most-popular-products__items {
   display: flex;
   justify-content: space-between;
   text-align: left;
   margin: 0 -15px 76px;
   flex-wrap: wrap;
}
.item-most-popular-products {
   flex: 0 1 25%;
   padding: 0 15px;
}
.item-most-popular-products__foto {
   margin-bottom: 17px;
   overflow: hidden;
}
.item-most-popular-products__foto img {
   aspect-ratio: 271 / 270;
   width: 100%;
   transition: all 0.4s;
}
.item-most-popular-products__foto img:hover {
   transform: scale(1.1);
}
.item-most-popular-products__title {
   font-family: "Cormorant Infant", sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.40;
   transition: all 0.2s;
}
.item-most-popular-products__title:hover {
   color: #818181;
}
.item-most-popular-products__price {
   font-family: "Cormorant Infant", sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.40;
}
.most-popular-products__link {
   color: #FFF;
   font-family: "Inter", sans-serif;
   font-weight: 500;
   line-height: 1.87;
   background: #FF7A49;
   padding: 12px 42px;
   transition: all 0.3s;
}
.most-popular-products__link:hover {
   background: #974729;
   border-radius: 7px;
}


















/* footer */
.footer {
   background-color: #000;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 50px;
   line-height: 1.2;
   font-weight: 700;
   color: #fff;
   font-family: "Inter", sans-serif;
}

